<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApp1.My.MySettings.db_healthConnectionString"
            connectionString="server=No-3113;user id=admin;password=luvi$4eva;database=db_health"
            providerName="MySql.Data.MySqlClient" />
        <add name="WindowsApp1.My.MySettings.db_healthConnectionString1"
            connectionString="server=localhost;user id=admin;password=luvi$4eva;persistsecurityinfo=True;database=db_health"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>